/* font import */
/* --------------------------------------------------- */
@font-face {
  font-family: "BKamran";
  src: url("../assets/fonts/BKamran.ttf");
  format: ("ttf");
  font-display: swap;
}
/* --------------------------------------------------- */
@font-face {
  font-family: "SNARENJ";
  src: url("../assets/fonts/SNARENJ.TTF");
  format: ("ttf");
  font-display: swap;
}

* {
  text-decoration: none;
}

h1 {
  font-family: "SNARENJ" !important ;
}
